<div class="emptylist" >    
    <p-card header="Your Kind Donation" class="card" [style]="{ width: '60vw'}">
        <p>As you know that our application is still under developing, 
            it will mean the world to us if you are to help us by your kind donation!</p>
        <div id="myPaypalButtons"></div>
        <div [style]="{ 'margin-top': '20px'}">
        <p-button label="Go to Home" icon="pi pi-fw pi-home" [routerLink]="['/']" styleClass="p-button-outlined p-button-secondary p-button-sm"></p-button>
        </div>
    </p-card>
</div>

